footer {
    padding: 20px 0;
    width: 100%;
    background-color: rgb(12, 11, 12);
    color: white;
    margin-top: 10%;
  
 
  }
 
  .rodape {
    font-size: 13px;
    margin: 0 0;
    text-align: center;
    

   
    
    
 
 
 
  }

