footer {
    /* height: 1vh; */
    padding: 20px 0;
    /* position: absolute; */
    /* bottom: 0; */
    /* left: 0; */
    width: 100%;
    background-color: rgb(12, 11, 12);
    color: white;
    margin-top: 100px;
  
 
  }
 
  .rodape {
    font-size: 13px;
    margin: 0 0;
    text-align: center;
    

   
    
    
 
 
 
  }

