.cabecalho {
    display: flex;
    justify-content: space-between;
    background: #35122E;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;  
}

.cabecalho .logo {

    height: 100%;
    margin: center;
    /* padding: 5px 20px; */

}


.cabecalho .menu {
    display: flex;
    align-items: center;
    height: 50%;
    margin-right: 40px;
    
    

}

.cabecalho nav li a {
    font-weight: bold;
    color: white;
    font-size: 25px;
    text-decoration: none;
    padding: 0 50px;
    

}

.cabecalho nav li a:hover {
    transition: 1s;
    color: yellow;

}