/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

html {
    font-size: 50%;
}

body{
    font-family: 'Poppins';
    background-color: rgb(133, 131, 131);
}













body {
    font-family: 'Poppins';
    background-color: white;
}