<app-nav></app-nav>

<!-- flex flex-row justify-center p-4  -->
<main>


    <div class="principal">

        <div class="container">
            <div class="primeira-coluna">
                <h2 class="title text-azul">Bem vindo a PowerNet</h2>
                <p class="descricao text-white">Quer receber nossas ofertas excluisvas?</p>
                <p class="descricao text-white">Deixe seus dados para entrarmos em contato.</p>
            </div>
            <div class="segunda-coluna">
                <h2 class="title text-black">Dados do Usuário</h2>
                <form class="formulario">
                    <input type="text" placeholder="Nome">
                    <input type="email" placeholder="E-mail">
                    <input type="text" placeholder="Celular">
                    <input type="text" placeholder="Cidade">
                    <button class="botao2 bg-roxo text-white">Cadastrar</button>
                </form>
            </div>
        </div>
        <!-- --------------------------------------------- -->
        <div class="secundaria">
            <div class="secundaria-espaco">
                <h1 class="titulo-secundaria text-azul">Quem Somos</h1>
                <p class="descricao text-white">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a
                    type specimen book. It has survived not only five centuries, but also the leap into electronic
                    typesetting, remaining
                    essentially unchanged. It was popularised in the
                    1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                    desktop
                    publishing software like
                    Aldus PageMaker including versions of Lorem Ipsum.
                </p>
                <p class="descricao text-white">
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                    classical
                    Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
                    Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from
                    a
                    Lorem
                    Ipsum passage, and going through the cites of the word in classical literature, discovered the
                    undoubtable
                    sum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum".
                </p>
                <p class="descricao text-white">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a
                    type specimen book. It has survived not only five centuries, but also the leap into electronic
                    typesetting, remaining
                    essentially unchanged. It was popularised in the
                    1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                    desktop
                    publishing software like
                    Aldus PageMaker including versions of Lorem Ipsum.
                </p>
                <p class="descricao text-white">
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                    classical
                    Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
                    Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from
                    a
                    Lorem
                    Ipsum passage, and going through the cites of the word in classical literature, discovered the
                    undoubtable
                    sum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum".
                </p>
                <p class="descricao text-white">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a
                    type specimen book. It has survived not only five centuries, but also the leap into electronic
                    typesetting, remaining
                    essentially unchanged. It was popularised in the
                    1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                    desktop
                    publishing software like
                    Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>
        </div>
    </div>


    <div class="principal-two">

        <div class="tercearia">
            <div class="tercearia-espaco">
                <h1 class="titulo-tercearia text-white">Pontos Importantes</h1>
                <p class="descricao text-white">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a
                    type specimen book. It has survived not only five centuries, but also the leap into electronic
                    typesetting, remaining
                    essentially unchanged. It was popularised in the
                    1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                    desktop
                    publishing software like
                    Aldus PageMaker including versions of Lorem Ipsum.
                </p>
                <p class="descricao text-white">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a
                    type specimen book. It has survived not only five centuries, but also the leap into electronic
                    typesetting, remaining
                    essentially unchanged. It was popularised in the
                    1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                    desktop
                    publishing software like
                    Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>
        </div>
        <div class="quartearia">
            <div class="quartearia-espaco">
                <h1 class="titulo-quartearia text-white">Avaliações</h1>
                <p class="descricao text-white">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a
                    type specimen book. It has survived not only five centuries, but also the leap into electronic
                    typesetting, remaining
                    essentially unchanged. It was popularised in the
                    1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                    desktop
                    publishing software like
                    Aldus PageMaker including versions of Lorem Ipsum.
                </p>
                <p class="descricao text-white">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a
                    type specimen book. It has survived not only five centuries, but also the leap into electronic
                    typesetting, remaining
                    essentially unchanged. It was popularised in the
                    1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                    desktop
                    publishing software like
                    Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>
        </div>

    </div>




</main>


<app-footer id="footer"></app-footer>