<app-nav></app-nav>

<main class="principal flex flex-row justify-center p-4 ">

    <div class="container primeiro-container" id="primeira">

        <div class="primeira-coluna">
            <h2 class="title text-white">Bem vindo a PowerNet</h2>
            <p class="descricao text-white">Quer receber nossas ofertas excluisvas?</p>
            <p class="descricao text-white">Deixe seus dados para entrarmos em contato.</p>
            
        </div>

        <div class="segunda-coluna">
            <h2 class="title text-azul">Dados do Usuário</h2>

            <form class="formulario">
                <input type="text" placeholder="Nome">
                <input type="email" placeholder="E-mail">
                <input type="text" placeholder="Celular">
                <input type="text" placeholder="Cidade">
                <button class="botao2 bg-azul text-white">Cadastrar</button>
            </form>
        </div>
    </div>

    <!-- --------------------------------------------- -->





  
  
  
  
  
  
</main>
<h1>i</h1>
<h1>i</h1>
<h1>i</h1>
<h1>i</h1>
<h1>i</h1>
<h1>i</h1>
<h1>i</h1>
<h1>i</h1>
<h1>i</h1>
<h1>i</h1>
<h1>i</h1>
<h1>i</h1>

<app-footer id="footer"></app-footer>