
 .principal {
    display: flex;
    justify-content: left;
    text-align: center;
    height: 79.8vh;
    align-items: center;
    margin-left: 30px;
    min-height: 100vh;
    
    
 
 
  }

  .container {
    background-color: #dbdfe0;
    display: flex;
    border-radius: 15px;
    height: 80%;
    width: 860px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 50%;
  }
  .container::before {
    content: "";
    position: absolute;
    background: #35122E;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  .title {
    font-size: 40px;
    font-weight: bold;
  }
  .descricao {
    font-size: 22px;
    font-weight: 300;
    /* color: white; */
    line-height: 30px;
  }
  .acesso {
    display: flex;
    list-style-type: none;
  }
  .formulario {
    display: flex;
    flex-direction: column;
    width: 70%;
    /* color: red; */
  }
  .formulario input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: whitesmoke;
    margin-top: 5px;
    border-radius: 10px;
  }
  input{
   font-size: 20px;
  }
  button {
    /* color: white; */
    border-radius: 15px;
    /* Cantos arredondados */
    cursor: pointer;
    text-transform: uppercase;
    font-size: 10px;
    padding: 10px 50px;
    border: 1px solid #dbdfe0;
    font-weight: bold;
    margin-top: 20px;
    width: 150px;
    align-self: center;
  }
  .underline {
    margin-top: 5px;
    font-size: 14px;
  }
  .botao2:hover {
    background-color: white;
    color: #35122E;
    transition: 1s;
    border: 1px solid #35122E;
  }
  .primeiro-container {
    display: flex;
  }
  .segundo-container {
    display: none;
    height: 65%;
    width: 960px;
    position: absolute;
    display: flex;
  }
  .primeira-coluna {
    text-align: center;
    width: 40%;
    z-index: 10;
  }
  .segunda-coluna {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
/* ---------------------------------------------------------------------------- */


  .secundaria{
    /* justify-content: center; */
    /* border-radius: 15px; */
    height: 95vh;
    width: 50%;
    text-align: center;
    display: flex;
    min-height: 100vh;
  }

  .secundaria .secundaria-espaco{

    width: 90%;
    margin: 0 auto;
    

  }
 
  .secundaria h1{
    font-size: 70px;
    /* text-align: center; */
    /* justify-content: center; */
    
  }

  
  .secundaria p{
    text-align: center;
    font-size: 22px;
    font-weight: 300;
    /* color: white; */
    line-height: 30px;
  }
  
  
  
  
  /* ---------------------------------------------------------------------------- */
  .tercearia{
    display: flex;
    width: 50%;
    text-align: center;
    /* margin: 0 auto; */
    
  }
  
  .tercearia-espaco{
    width: 90%;
    margin: 0 auto;
    
  }
  .tercearia h1{
    font-size: 80px;
    
  }
    
  .tercearia p{
    text-align: center;
    font-size: 22px;
    font-weight: 300;
   
   
  }
    
  
 
  
 
  
  
  
  
  
  
  
  
 
 
  
 
  
 
  
  
  
 
  
  
  
  
  
  
 
  
  
  
 
  
 
  
  
  
  
  
  
 
  
  
  
  
  
  
  
  
 
  
  
  
 
 

 
  
  
  
  
  
  
  
  
  
  
  
  
  
  
 
 

  
  
  
  
 
 
  
  
  
  
  
  
 
 
  
  
  
 
 
  
  
  
  
  
  
 
  
 
  
  
  
  
  
 
  
  
  
  
  
  
 
 