<app-nav></app-nav>

<!-- flex flex-row justify-center p-4  -->
<main class="principal">

    <div class="container primeiro-container" id="primeira">

        <div class="primeira-coluna">
            <h2 class="title text-white">Bem vindo a PowerNet</h2>
            <p class="descricao text-white">Quer receber nossas ofertas excluisvas?</p>
            <p class="descricao text-white">Deixe seus dados para entrarmos em contato.</p>
            
        </div>

        <div class="segunda-coluna">
            <h2 class="title text-roxo">Dados do Usuário</h2>

            <form class="formulario">
                <input type="text" placeholder="Nome">
                <input type="email" placeholder="E-mail">
                <input type="text" placeholder="Celular">
                <input type="text" placeholder="Cidade">
                <button class="botao2 bg-roxo text-white">Cadastrar</button>
            </form>
        </div>
    </div>

    <!-- --------------------------------------------- -->


    <div class="secundaria">




    </div>


  
  
  
  
  
  
</main>

<app-footer id="footer"></app-footer>